*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
.nav-link {
    padding-right: 30px;
}

.navbar {
    --bs-navbar-nav-link-padding-x: 25px;
}